:root {

--clr-primary: #414141;
--clr-neutral: #7d7d7d;
--clr-accent: #ca5e10;

--ff-primary: 'Cinzel', serif;
--ff-secondary: 'PT Serif', serif;

--fs-900: 6rem;
--fs-600: 2.25rem;
--fs-500: 1.3125rem;
--fs-400: 1.125rem;
}

.container {
    width: 90%;
    max-width: 39rem;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    line-height: 1.6;
}

header {
    max-width: 70rem;
    text-align: center;
    margin: 6rem auto;
    padding: 0 2rem;
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-900);
    font-weight: 900;
    margin: 0;
    line-height: 1;
}

a {
    color: var(--clr-accent);
}

.subtitle {
    font-size: var(--fs-600);
    line-height: 1.2;
    color: var(--clr-neutral);
}

.lead {
  font-size: var(--fs-500);
}



